@using Projectile.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-info">
        [ নিচে এন.আই.ডি অথবা ভোটার নিবন্ধন ফরমের স্লিপ নম্বর এবং জন্মতারিখ ব্যবহার করে ভোটার তথ্য ও ভোট কেন্দ্রের তথ্য দেখুন ]

        [ (বিঃ দ্রঃ যাদের জন্ম তারিখ "০১-০১-১৯৯৮" -এর পরে, তারা রশিদে প্রাপ্ত ফরম নম্বর দিয়ে এখান থেকে তথ্য দেখতে পারবেন না। তারা তথ্য জানতে হেল্পলাইন নাম্বার (105 অথবা +88 01708-501261) -এ কল করুন।) ]
    </div>
    <div class="card">
        <div class="title">
            <p class="p-2">ভোটারের তথ্য</p>
        </div>
        <div class="card-body">
            <form method="POST">
                <label>এন আইডি নম্বর</label>
                <input class="pl-2" name="nid">
                <div>
                    <input class="btn-success" type="submit" value="ভোটার তথ্য দেখুন"/>
                </div>
            </form>
        </div>
        @{
            var person = ViewData["SearchedData"] as Person;
            if (person != null) {
                <table>
                    <tr>
                        <td>
                            <label>নাম</label>
                        </td>
                        <td>
                            @person.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>পিতার নাম </label>
                        </td>
                        <td>
                            @person.FatherName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>মাতার  নাম</label>
                        </td>
                        <td>
                             @person.MotherName
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>জেলা</label>
                        </td>
                        <td>
                             @person.District
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>শহর</label>
                        </td>
                        <td>
                             @person.City
                        </td>
                    </tr>
                </table>
            }
            else {
                <p class="text-danger">No Data</p>
            }
        }
    </div>
</div>
